*{
  box-sizing: border-box;
}
body {
  background-color: #F3F5F7;
  /*overflow: hidden;*/
}
#app {
}
/*布局*/
.app-layout{
}
.app-layout-top{
  background-color: #233;
  width: 100%;
  height: 60px;
}
.app-layout-main{
  background-color: #eee;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 464px;
  min-width: 1000px;
}
.app-layout-left{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #444;
}
.app-layout-center{
  position: absolute;
  top: 0;
  right: 270px;
  bottom: 0;
  left: 200px;
  min-width: 1024px;
  min-height: 760px;
  background-color: #E0E9EF;
}
.app-layout-right{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  background-color: #999;
}

/*应用*/
.app-toolbar {
  background: linear-gradient(rgba(255, 255, 255, 0.27), rgba(179, 188, 200, 0.27));
  background-color: #F3F5F7;
}

.app-navigator {
}
.app-navigator img{
  width: 100%;
}
.app-canvas {
  background-color: #fff;
  position: absolute;
  min-width: 1024px;
  min-height: 768px;
  left: 50%;
  top: 50%;
  margin-left: -512px;
  margin-top: -384px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.12);
}
.app-inspector {
}
